@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  transition: all ease-in-out 0.4s;
}

body.dark {
  background-color: #181824;
  color: #afb1ca;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
